:root {
    --color-primario: #f00;
    --color-primario-hover: #c00;
    --color-btn-secundario-hover: rgb(255, 193, 193);
}

main {
    margin-bottom: 120px; /* Ajusta este valor según la altura del footer */
    overflow: auto; /* Permite que el contenido sea desplazable si es necesario */
}

h1 {
    margin: 50px 0;
    text-align: center;
}

.productos {
    display: flex; /* Cambia a flexbox */
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    gap: 20px; /* Espaciado entre los elementos */
}

#cart-container {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;
    font-size: 20px;
    color: #000;
}

.cantidad-container {
    display: flex; /* Flexbox para organizar los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: space-between; /* Espacia los elementos horizontalmente */
    border: 1px solid #ddd; /* Borde del cuadrado */
    border-radius: 50px; /* Bordes ligeramente redondeados */
    padding: 10px; /* Espaciado interno */
    width: 150px; /* Ancho fijo para el cuadrado */
    height: 50px; /* Altura fija para el cuadrado */
    background-color: transparent;
}

.incrementar-cantidad,
.decrementar-cantidad {
    font-size: 30px; /* Tamaño del texto */
    padding: 5px 10px; /* Espaciado interno */
    background-color: transparent; /* Fondo transparente */
    color: rgb(0, 0, 0); /* Color del texto */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: transform 0.2s ease; /* Transición suave */
}

/* Efecto hover en los botones */
.incrementar-cantidad:hover,
.decrementar-cantidad:hover {
    transform: scale(1.2); /* Aumenta ligeramente el tamaño al pasar el cursor */
}

#total-container {
    margin-top: 20px;
    margin-bottom: 160px;
    text-align: center; /* Centra el texto del total */
    font-size: 14pt; /* Aumenta el tamaño de la fuente para mayor visibilidad */
    font-weight: bold; /* Resalta el texto */
    color: #000; /* Color del texto */
}
   
footer {
    background-color: rgb(250, 243, 243);
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}

#view-quote {
    width: 100%;
    min-height: 44px;
    padding: 8px 16px;
    background-color: var(--color-primario);
    color: #fff;
    font-size: 16px;
    font-weight: 900;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#view-quote:hover {
    background-color: var(--color-primario-hover);
}

#continue-shopping  {
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    background-color: transparent;
    border: none;
}

#continue-shopping:hover {
    color: var(--color-primario-hover);
}

#cart-container {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

#cart-container i {
    margin-right: 10px;
}

#cart-count {
    font-size: 0.8em;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.2em 0.5em;
}

/* Estilos para la estructura del carrito */
.cart-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    width: 600px;
  }
  
  .cart-row > div {
    flex: 1;
    padding: 5px;
  }
  
  .cart-row img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
  }
  
  #total-container {
    margin-top: 20px;
    font-size: 14pt;
  }

  

/* Cambios en pantallas pequeñas */
@media (max-width: 768px) {
    h1 {
        font-size: 30px; /* Reduce el tamaño del título */
    }
    footer {
        flex-direction: column; /* Cambia el diseño a vertical */
        align-items: center; /* Centra los botones */
    }

    footer button {
        width: 90%; /* Asegura que los botones ocupen casi todo el ancho */
        text-align: center; /* Centra el texto de los botones */
    }

    main {
        padding-bottom: 250px; /* Aumenta el margen inferior para pantallas pequeñas */
    }

    .cart-row {
        width: 100%; /* Ajusta el ancho de la fila al 100% */
        flex-direction: column; /* Apila los elementos verticalmente */
        align-items: center; /* Centra los elementos horizontalmente */
    }
}

