/* Estilos para la impresión */
    body {
      font-size: 12pt;
    }

    .titulo-presupuesto {
      font-size: 40px;
      font-weight: 900;
      margin-bottom: 40px;
    }
  
    .cart-row {
      display: table-row;
    }
  
    .cart-row > div {
      display: table-cell;
      padding: 8px;
      border: 1px solid #ddd;
    }
  
    #clear-cart, #print-cart {
      display: none; /* Ocultar botones en la impresión */
    }
  
    #total-container {
      margin-top: 20px;
      font-size: 32px;
    }

    .btn-primario {
      display: none;
    }

    

