:root {
    --color-primario: #f00;
    --color-primario-hover: #c00;
    --color-btn-secundario-hover: rgb(255, 193, 193);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* Estilos generales*/
.main-general {
    max-width: 1200px;
    width: 100%;
    margin: auto;
} 

.icono-filtro {
    cursor: pointer;
    background-color: #747474;
    z-index: 1000;
}

.header-general {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 130px;
    background: #fff;
    color: rgb(58, 190, 230);
    padding: 0px 20px;
    position: sticky;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo {
    max-width: 150px;
    height: auto;
    margin: 0 auto;
}

#cart-container {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    color: #000;
}

.logo-carrito {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    justify-content: space-between;
}

.body-general {
    background-color: rgb(250, 243, 243);
}

/* Estilos menú*/
.icono-filtro {
    width: 24px;
    background-color: rgba(255, 255, 255, 0);
}


#openMenuButton {
    all: unset;
    cursor: pointer;
    padding: 20px;
    background-color: rgba (0, 0, 0, 0);
}

#closeMenuButton {
    all: unset;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold; /* Hace que la "X" sea más gruesa */
    color: white; /* Asegura que sea visible */
    width: 40px; /* Asegura un área de clic cómoda */
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* Hace el botón redondo */
    position: absolute; /* Posición fija dentro del menú */
    top: 10px; /* Ajusta la posición en la parte superior */
    right: 10px;
    z-index: 1001;
}

h1 {
    font-size: 40px;
    color: #000000;
    width: 100%;
}

nav {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0px;
    top: 120px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#menu {
    display: none;
    width: 400px;
    position: fixed;
    top: 130px;
    left: 0;
    height: 100vh;
    background: #333;
    padding-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: none;
}

.ulmenu {
    padding-top: 50px 10px;
    margin-top: 50px;
    list-style: none;
}

.ulmenu li {
    padding: 20px 10px;
    text-align: left;
    position: relative;
    transition: all 0.3s ease;
}

#menu a {
    text-decoration: none;
    color: white;
    display: block;
}


.submenu {
    display: none;
    list-style: none;
    position: relative;
    width: 100%;
    overflow: visible;
    padding: 8px 8px;
}

.submenu li {
    padding: 20px 10px;
    text-align: left;
    position: relative;
    transition: all 0.3s ease;
}

.submenu li:hover {
    background: #c72929;
    transition: all 0.3s ease;
}

.submenu-toggle {
    display: none;
}

.submenu-toggle:checked + .submenu {
    display: block;
}

.submenu-todos {
    padding: 20px 10px;
    text-align: left;
    font-size: 16px;
}

.submenu-todos:hover {
    background: #c72929;
    transition: all 0.3s ease;
}

label {
    padding: 20px 10px;
    display: block;
}

label:hover {
    background: #c72929;
    transition: all 0.3s ease;
}



/* Estilos de la sección de productos */
.productos {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    row-gap: 32px;
    justify-content: space-around;
}

.card-producto {
    display: block;
    width: 300px;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 8px;
    padding: 24px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
}

.card-producto:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
    border: 3px solid var(--color-btn-secundario-hover);
}

.img-producto {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.main-producto > h3 {
    font-size: 24px;
    margin: 16px 0;
    padding-top: 32px;
}

p {
    font-size: 16px;
    margin: 8px 0;
}

.precio-producto-unidades {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.producto-precio {
    font-size: 32px;
    font-weight: bold;
    margin: 16px 0;
    text-align: right;
}

.producto-precio-tachado {
    font-size: 16px;
    text-decoration: line-through;
    color: #999;
    padding-right: 8px;
}

.precio-tachado-final {
    display: flex;

}

.tallas-unidades {
    float: right;
    margin-top: 16px;
}

.producto-tallas {
    width: auto;
    padding: 8px 16px;
    background-color: #fff;
    border-radius: 4px;
    border: 2px solid var(--color-primario); 
    font-size: 16px;   
}

.producto-tallas:hover {
    background-color: var(--color-btn-secundario-hover);
}

.producto-unidades {
    font-size: 12px;
    margin-bottom: 16px;
    color: #999;
    text-align: right;
}

.btn-primario {
    width: 100%;
    min-height: 44px;
    padding: 8px 16px;
    background-color: var(--color-primario);
    color: #fff;
    font-size: 16px;
    font-weight: 900;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primario:hover {
    background-color: var(--color-primario-hover);
}

.btn-secundario {
    width: auto;
    padding: 8px 16px;
    background-color: #fff;
    color: var(--color-primario);
    font-size: 16px;
    font-weight: 900;
    border: 2px solid var(--color-primario);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    float: right; /* Alinea el botón a la derecha */
}

.btn-secundario:hover {
    background-color: var(--color-btn-secundario-hover);
}

/* Estilos media */

@media screen and (max-width: 480px) {
    #menu {
        width: 100%;
    }
}