/* Estilos menú*/
@import url('menu.css');
@import url('cards.css');

:root {
    --color-primario: #f00;
    --color-primario-hover: #c00;
    --color-btn-secundario-hover: rgb(255, 193, 193);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* Estilos generales*/
.main-general {
    max-width: 1200px;
    width: 100%;
    margin: auto;
} 

.icono-filtro {
    cursor: pointer;
    background-color: #747474;
    z-index: 1000;
} 

.header-general {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 130px;
    background: #fff;
    color: #000;
    padding: 0px 20px;
    position: sticky;
    top: 0;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo {
    max-width: 150px;
    height: auto;
    margin: 0 auto;
}

#cart-container {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    color: #000;
}

.logo-carrito {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    justify-content: space-between;
}

.body-general {
    background-color: rgb(250, 243, 243);
}

.fa-circle-up {
    font-size: 48px;
    color: var(--color-primario);
    cursor: pointer;
    position: fixed;
    bottom: 32px;
    right: 32px;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.fa-circle-up:hover {
    color: var(--color-primario-hover);
}

#top {
    scroll-margin-top: 150px;
}

.icono-filtro {
    width: 24px;
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    top: 150px;
    margin: 0 8px;
    ;
}

/*Icono carrito*/
#cart-container {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

#cart-container:hover {
    cursor: pointer; /* Cambia el cursor a una mano */
}

#cart-container i {
    margin-right: 10px;
}

#cart-count {
    font-size: 0.8em;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.2em 0.5em;
}



  


/* Estilos media */

@media screen and (max-width: 480px) {
    #menu {
        width: 100%;
    }

    .fa-circle-up {
        bottom: 8px;
        right: 8px;;
    }
    
    #top {
        scroll-margin-top: 150px;
    }
    
}

  /* Estilos para la responsividad */
@media screen and (max-width: 600px) {
    .cart-row {
      flex-direction: column;
      align-items: center;
    }
  
    .cart-row > div {
      width: 100%;
      text-align: center;
    }
  
    #total-container {
      text-align: center;
    }
  }